h1 {
    font-family: 'Krungthep', courier;
    font-size: 42;
    color: #666699;
}
body {
    padding-left: 15px;
}
.page-header{
    background-color: #ccccff;
    padding: 20px 20px 20px 10px;
    
}
.date{
    font-size: 12;
}
.list-post{
    border-left-width: 20px    ;
    border-left: solid #9999cc;
    padding-left: 10px;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:20px;   /* Height of the footer */
    background: #ccccff;
}
