{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
      <div class="list-post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

            {% if post.edited_date %}
                <p class="date">Last edit: {{ post.edited_date|date:"D d M Y" }}</p>
            {% else %}
                <p class="date">Create: {{ post.published_date|date:"D d M Y"  }}</p>
            {% endif %}
            <p>{{ post.text|linebreaks }}</p>
      </div>
  {% endfor %}
{% endblock content%}
